<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="icon" href="images/favicon.ico"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>DailyPets Spring Application</title>
    <link rel="stylesheet" href="/css/style.css"></link>
    <link rel="stylesheet" href="/css/index.css"></link>
</head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header">
    </header>
    <div class="content">
        <!-- Navigation -->
        <nav th:replace="fragments/commons::navigation"></nav>
        <!-- Main -->
        <main class="pets-view">
            <div class="title">
                <h1 class="title__heading">
                    Daily Dose of Pets
                </h1>
            </div>
            <div class="detail">
                <img src="images/cat-1.jpg" alt="Pet 1" class="pet__photo">
                <div class="description">
                    <h1>Cool Cat Bob</h1>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione
                        sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto
                        voluptate.
                    </p>
                    <a href="#" class="edit-btn">Update</a>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
