<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="icon" href="/images/favicon.ico"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>DailyPets Spring Application</title>
    <link rel="stylesheet" href="/css/style.css"></link>
    <link rel="stylesheet" href="/css/index.css"></link>
</head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header">
    </header>
    <div class="content">
        <!-- Navigation -->
        <nav th:replace="fragments/commons::navigation"></nav>
        <!-- Main -->
        <main class="pets-view">
            <div class="title">
                <h1 class="title__heading">
                    Daily Dose of Pets
                </h1>
            </div>
            <th:block th:if="${pets}">
                <div th:each="p : ${pets}" th:object="${p}" class="detail">
                    <img th:src="*{picture}" alt="*{name} Pet" class="pet__photo">
                    <div class="description">
                        <h3 th:text="*{name}"></h3>
                        <p th:text="*{description}" class="paragraph"></p>
                        <a th:href="@{/pets/update/{id}(id = *{id})}" class="edit-btn">Update</a>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${pets}">
                <div class="detail">
                    <img src="images/cat-1.jpg" alt="Pet Error Image" class="pet__photo">
                    <div class="description">
                        <h3>An Error Occurred!</h3>
                        <p class="paragraph">There are no pets. Please try again later.</p>
                    </div>
                </div>
            </th:block>
        </main>
    </div>
</div>
</body>
</html>
